.left-menu {
	border: unset !important;
}
.bodybg {
		background-color: #000000;
	background-color: rgba(0,0,0, 1);
			background-image: url(https://i1.beon.fun/63/9/963/11/1858511/pagebg2.png);
		background-attachment: fixed
					, scroll
			;
			background-position: bottom left
					, bottom left
			;
			background-repeat: repeat
					, repeat
			;
			background-size: auto
					, auto
			;
		}

	.py-4 a, .crumbs a{
		color:  !important;
	}
	.py-4 a:hover, .crumbs a:hover {
		color:  !important;
	}

.crumbs {
		background-color: #000000;
	background-color: rgba(0,0,0, 1);
				color: #494949;	
				background-image: ;
		background-attachment: scroll
					, scroll
			;
			background-position: center left
					, top left
			;
			background-repeat: repeat
					, repeat
			;
			
		border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	}
.post-content {
		background-color: #101010;
	background-color: rgba(16,16,16, 1);
		color: #494949;
			background-image: ;
		background-attachment: scroll
					, scroll
			;
			background-position: top left
					, top left
			;
			background-repeat: repeat
					, repeat
			;
			background-size: auto
					, auto
			;
		
			border-top-color: #000000;
			border-top-width: 2px;
			border-top-style: solid;
				border-right-color: #000000;
			border-right-width: 0px;
					border-bottom-color: #000000;
			border-bottom-width: 2px;
			border-bottom-style: solid;
				border-left-color: #000000;
			border-left-width: 0px;
					border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	}
.post-title {
	color: #494949;
}
.comment-content {
		background-color: #101010;
	background-color: rgba(16,16,16, 0.9);
		color: #494949;
			background-image: ;
		background-attachment: scroll
					, scroll
			;
			background-position: top left
					, top left
			;
			background-repeat: repeat
					, repeat
			;
			background-size: auto
					, auto
			;
			
			border-top-color: #e9e7f0;
			border-top-width: 0px;
					border-right-color: #e9e7f0;
			border-right-width: 0px;
					border-bottom-color: #e9e7f0;
			border-bottom-width: 2px;
					border-left-color: #e9e7f0;
			border-left-width: 2px;
					border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	}
.left-menu > div {
		background-color: #000000;
	background-color: rgba(0,0,0, 1);
			color: #494949;
				background-image: url(https://i1.beon.fun/63/9/963/10/1858510/datebg2.gif);
		background-attachment: fixed
					, fixed
			;
			background-position: bottom left
					, top left
			;
			background-repeat: repeat
					, no-repeat
			;
			background-size: auto
					, auto
			;
		
			border-top-color: #ffffff;
			border-top-width: 0px;
			border-top-style: solid;
				border-right-color: #ffffff;
			border-right-width: 0px;
					border-bottom-color: ;
			border-bottom-width: 0px;
					border-left-color: ;
			border-left-width: 0px;
					border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	}
.left-menu > div > h3 {
		background-color: #e9e7f0 !important;
	background-color: rgba(233,231,240, 0) !important;
			color: #494949 !important;	
				background-image: ;
		background-attachment: scroll
					, scroll
			;
			background-position: top left
					, top left
			;
			background-repeat: repeat
					, repeat
			;
			background-size: auto
					, auto
			;
		
		border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	}
.textareabg {
			background-color: #000000;
		background-color: rgba(0,0,0, 0.7);
				color: #ffffff;	
	}
.datebg {
		background-color: #000000 !important;
	background-color: rgba(0,0,0, 1) !important;
			color: #000000;	
				background-image: url(https://i1.beon.fun/63/9/963/10/1858510/datebg2.gif);
					background-attachment: scroll
							, scroll
						;
							background-position: center left
							, center left
						;
							background-repeat: repeat
							, repeat-x
						;
							background-size: auto
							, auto
						;
					border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	}
	.blog__gifts {
		display: none!important;
	}
	.blog__read-me {
		display: none!important;
	}
	.blog__iread {
		display: none!important;
	}
	.blog__last-comments {
		display: none!important;
	}
	.blog_total_counter {
		display: none!important;
	}

nav.navbar {
		background-color: #000000;
	background-color: rgba(0,0,0, 0.7);
			background-image: ;
		background-attachment: scroll
					, scroll
			;
			background-position: top left
					, top left
			;
			background-repeat: repeat
					, repeat
			;
			background-size: auto
					, auto
			;
					color: #494949 !important;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	}

	nav.navbar a {
		color: #494949 !important;
	}

	nav.navbar a:hover {
		color: #ffffff !important;
	}

.bottombg {
		background-color: #000000;
	background-color: rgba(0,0,0, 1);
		color: #000000;
			background-image: ;
		background-attachment: scroll
					, scroll
			;
			background-position: top left
					, top left
			;
			background-repeat: repeat
					, repeat
			;
			background-size: auto
					, auto
			;
		
			border-top-color: ;
			border-top-width: 0px;
					border-right-color: ;
			border-right-width: 0px;
					border-bottom-color: ;
			border-bottom-width: 0px;
					border-left-color: ;
			border-left-width: 0px;
					border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	}


div div b {
  color: #b7b7b7
  
}

div.modal-body {
  color: #cccccc;
}

div div div {
  color: #999999;
}


div.left-menu {
opacity: 0.5;
filter: grayscale(0.8);
color: #333;
font-weight: bold;
}

div.datebg {
text-indent: -9999px;
}

span.crumb-item {
  font-size:0;
}

[href="//beon.fun/users/colly"] {
content: "";
display: inline-block;
filter: grayscale(0.8) brightness(0.6);
transition: 0.3s;
}

[href="//beon.fun/users/colly"]:hover  {
content: "";
display: inline-block;
filter: grayscale(0) brightness(1); 
transition: 0.3s;
}

.avatars-fullscreen-link-wrapper {
border: #c1c1c1 1px solid; /*цвет бордюра*/
background: #f1f1f1; /*цвет фона*/
}
.avatars-fullscreen-link-wrapper a {
color: #000000; /*цвет текста*/
}


div.modal-header {
  background-color: #434343;
}

img.avatar-select-label.avatar-fs-list__item {
  background-color: #434343;
}

div.modal-body {
  background-color: #434343;
  
}

div.modal-footer {
  background-color: #434343;
}

h5.modal-title {
  color: #b7b7b7;
}

input.w-100 {
  background-color: #cccccc;
  
}

textarea.postdesc {
  background-color: #cccccc;
}

div form p {
  color: #b7b7b7;
}

select.w-100 {
  background-color: #b7b7b7;
}

div form input {
  background-color: #cccccc;
}

div label input {
  background-color: #b7b7b7;
}

div.avatar-select-list {
  background-color: #cccccc;
}

div.left-menu__friends.left-menu__friends_offline {
  display: none
}




img.imagefsme {
filter: grayscale(0.8) brightness(0.6);
transition: 0.3s;
}

img.imagefsme:hover {
filter: grayscale(0) brightness(1); 
transition: 0.3s;
}

.post-avatar img {
    filter: grayscale(0.8) brightness(0.6);
    transition: 0.2s;
}
.post-avatar img:hover {
    filter: grayscale(0) brightness(1);
    transition: 0.2s;
}


a.navbar-brand {
  text-transform: lowercase;
  font-size: 14px;
  color: #494949;
}

.quotation {
    background: none;
    border-left: 2px solid #7d7d7d;
    font-size: 12px;
    font-style: normal;
    padding-left: 5px;
    margin-left: 7px;
    margin-bottom: 0;
}

a.user.post-title-user {
  color: #494949
}

div div a {
  color: #494949
}

span[data-target="#deleteconfirmmodal"] {
color: #494949
}

.liked .fas, .reposted .fas, .bookmarked .fas
Specificity: (0,2,0)
 {
    color:#494949 !important;
}

/* Обычное состояние ссылки */
a {
  color: #494949; 
  transition: color 0.3s ease; /* Плавное изменение цвета за 0.3 сек */
}

/* Состояние при наведении */
a:hover {
  color: #FFFFFF; /* Ссылка станет другой при наведении */
}

div.sign {
  color: #494949
}

div.tag_bar {
  color: #494949
  }
